.App {
  text-align: center;
  background-image: url(background1.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.todoContainer {
  align-items: flex-start;
  width: 35vw;
}

.myElement {
  opacity: 0;
  transition: 2s opacity;
}

.fade-in {
  opacity: 1;
}
